<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    verbose="true"
>
    <testsuites>
        <testsuite name="Maggomann Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
        <php>
            <env name="APP_ENV" value=".env.testing"/>
            <env name="APP_KEY" value="base64:yk+bUVuZa1p86Dqjk9OjVK2R1pm6XHxC6xEKFq8utH0="/>
            <env name="APP_URL" value="https://testing.test"/>
            <env name="DB_CONNECTION" value="sqlite"/>
            <env name="DB_DATABASE" value="testing"/>
            <env name="DB_USERNAME" value="root"/>
            <env name="LOG_CHANNEL" value="testing"/>
            <env name="CACHE_DRIVER" value="array"/>
            <env name="FILESYSTEM_DISK" value="local"/>
        </php>
</phpunit>
